<app-header title="Perfil" [showMenuButton]="true"></app-header>

<ion-content class="custom-background">
  <div class="stats-container" *ngIf="!loading && beers.length">
    <ion-card class="stats-card">
      <ion-card-content>
        <p>Total de cervezas: <strong>{{ beers.length }}</strong></p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="beer-list">
    <ion-card *ngFor="let beer of beers" class="beer-card">
      <ion-card-header>
        <ion-avatar class="beer-image">
          <img [src]="beer.image || 'assets/default-beer.png'" />
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <h2 id="contenido">{{ beer.name }}</h2>
        <p> Volumen: {{ beer.volume }} cl</p>
        <p> Alcohol: {{ beer.grades }}%</p>
        <div class="button-group">
          <ion-button color="danger" (click)="confirmDeleteBeer(beer)">Eliminar</ion-button>
          <ion-button color="primary" (click)="addUpdateBeer(beer)">Actualizar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!loading && beers.length == 0 " class="empty-state">
    <ion-icon name="beer-outline" size="large"></ion-icon>
    <h3>No hay cervezas registradas</h3>
    <p>¡Agrega una nueva cerveza para comenzar!</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="searchBeer()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="addUpdateBeer()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
