<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" id="cerrarsesion"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img [src]="user.image" />
  </ion-avatar>
  <ion-button class="photo-btn" (click)="takeImage()" mode="ios" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h2>{{user.name}}</h2>

  <ion-item button detail (click)="editarPerfil()">
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar perfil</ion-label>
  </ion-item>  
</ion-content>

<!-- Footer añadido -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
